<h2>New Monster?</h2>
<p>Fill out the form below to submit a new monster to the site.</p>
<form method="POST" action="/monsters">
    <strong><label for="species">Species:</label></strong>
    <input type="text" name="species">
    <br>
    <strong><label for="lore">Lore:</label></strong>
    <textarea name="lore"></textarea>
    <br>
    <strong><label for="how_to_kill">How to Kill:</label></strong>
    <input type="text" name="how_to_kill">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>