<h2>New Monster?</h2>
<p>Fill out the form below to submit a new monster to the site.</p>
<% if @errors %>
    <h4>I'm sorry, you've encountered the following error(s):</h4>
    <%= @errors %>
    <br>
    <br>
<% end %>
<form method="POST" action="/monsters">
    <strong><label for="species">Species:</label></strong>
    <input type="text" name="species">
    <br>
    <strong><label for="lore">Lore:</label></strong>
    <textarea name="lore"></textarea>
    <br>
    <strong><label for="how_to_kill">How to Kill:</label></strong>
    <input type="text" name="how_to_kill">
    <% if @cases.length > 0 %>
        <br>
        <br>
        <p><strong>Assign this monster to a Case:</strong></p>
        <% @cases.each do |case_file| %>
            <input type="radio" name="case_file_id" value="<%= case_file.id %>"> <%= case_file.name %></input>
            <br>
        <% end %>
    <% end %>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>