<center>
<h1>Let's Get To Buisness</h1>
<h2></h2>
<p>Please login below or <a href="/signup">sign-up</a> to enter the site.</p>
<form method="POST" action="/login">
  <h3><label for="username">Username:</h3></label>
  <input type="text" name="username">
  <h3><label for="password">Password: </h3></label>
  <input type="password" name="password">
  <br>
  <br>
  <input type="submit" value="Log In">
</form>
</center>