<header>
  <h1>Welcome!</h1>
  <h5>Case Hunter: Connecting hunters to their information</h5>
</header>
<br>
<br>
<body>
  <center>
  <h2>Let's Get To Buisness</h2>
  <p>Please sign-in below or sign-up to enter the site.</p>
  </center>
</body>